<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBf2T3nDixtKSxB1Iib8iAS0Eo500UBb6s</string>
	<key>GCM_SENDER_ID</key>
	<string>935914980879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LandChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-28fae</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-28fae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935914980879:ios:702c6d028543b2f1fd857a</string>
</dict>
</plist>